 body {
    background-color: #fff;
    font-size: 16px;
    margin: 0;
  }

  /******  Headings *****/

  header {
    border-bottom: 5px solid #7d97ad;
    margin-bottom: 30px;
  }


  #wrapper {
    width: 100%;
  }


  .udacity-logo {
    position: absolute;
    max-width: 200px;
    left:10px;
    z-index: 11;
  }


  .about-image,
  .project-image {
    border-radius: 5px;
    width: 100%;
  }


  .portfolio-image {
    margin-bottom: 20px;
  }


  .about-image {
    margin: auto;
  }

  /* End Of Images  */

   h1,
   h2 {
    font-family: "Courier New", Courier, monospace;
    font-weight: 100;
  }
  /****** End of Headings *******/

  /**** Section ****/
  #featured-work {
    color: #999;
    position: relative;
    left: 5px;
    margin: 10px 20px;
  }


  .section-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .project {
    max-width: 460px;
    margin-bottom: 20px;
  }


  .card-title {
    text-align: center;
    color: #000;
  }


  p {
    font-size: 1em;
    text-align: center;
    color: #000;
    margin: 5px auto;
  }

  /**** End Of Section ****/

  .project-link {
    text-align: center;
  }

  /***** Footer *******/

  footer {
    font-size: 1em;
    clear: both;
    padding-top: 50px;
    color: #ccc;
  }
