*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    background-color: #fff;
    font-size: 16px;
}

/******  Headings *****/

header{
     min-width: 30vh;
     border-bottom: 5px solid #7d97ad;
     margin-bottom: 30px;
}

/* Images*/
img{
    width: 100%;
  }

.udacity-logo{
    position: absolute;
    float:left;
    z-index: 1;
}


.about-image,
.project-image{
    border-radius: 5px;
  }


.portfolio-image{
    margin-bottom: 20px;
}


.about-image{
    width: 100%;
    margin: auto;
  }
/* End Of Images  */

.My-Name{
     font-family:"Courier New", Courier, monospace;;
     font-weight: 100;
}
/****** End of Headings *******/

/**** Section ****/
.Featured-Work{
    color: #999;
    position: relative;
    left: 20px;
    margin: 10px 20px;
}


.section-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.section-projects .project{
    max-width: 460px;
    margin-bottom: 20px;
}


.project h2{
  text-align: center;
  color: #000;
}


p{
  font-size: 1em;
  text-align: center;
  color: #000;
  margin: 5px auto;
}
/**** End Of Section ****/


.project p{
  text-align: center;
  }
/***** Footer *******/


footer p{
    font-size: 1em;
    text-align :center;
    clear:both;
    padding-top: 50px;
    color: #ccc;
}
